html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F5F7F8;
    color: #185519;
    user-select: none;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

input {
    color: #185519;
    background-color: #FCDE70;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

button {
    background-color: #E8B86D;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
}

ol {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

ol li {
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    flex-grow: 1;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#profile-button, #home-button, #match-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
}

.nav-buttons, .get-matched-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.favourite-buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}